.main-container{
    height: 30%;
    border: 2cqmin solid black;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    }
    .containerone{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 200px;
        border: 10px solid blue;
    }
    .containeronesectionone{
        display:flex;
        flex-grow: 2;
        border: 3px solid red;
    }
    .boxone{
        background-color: green;
        flex-grow: 2;
        
    }
    .boxtwo{
        background-color: blueviolet;
        flex-grow: 1; 
    }
    .boxthree{
        background-color: goldenrod;
        flex-grow: 1; 
        border: 3px solid g;
    }
    
    .containertwo{
        border: 10px  saddlebrown;
        display: flex;
        width: 100%;
        height: 100vh;
        /* flex-wrap: wrap;
        margin: 1rem; */
    }
    /* .body{
        border: 4px solid purple;
        width: 100%;
        height: 100%;
        margin: 0;
    
    } */
    
    .containertwoboxone{
        width:200px;
        border: 2px solid tomato;
        flex-grow: 2;
        background-color: brown;
    
    }
    .containertwoboxtwo{
        width:200px;
        border: 2px solid yellow;
        flex-grow: 2;
        background-color:plum ;
    
    }